@import "./init";
@import "../../node_modules/modern-normalize/modern-normalize.css";

html {
  font-family: $system-fonts-list;
}

body {
  font: $fw-base #{$fs-base}/#{$lh-base} $regular-font;
  background-color: $background;
  background: url("../img/background.png") center no-repeat;
  background-size: cover;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  color: $primary-text;
  font-weight: normal;
  margin: 0 auto;
  scroll-behavior: smooth;
  height: 100vh;
  padding: 0;
}

p {
  @include font(400, 14px, 1.5, $regular-font);
  margin: 0;
}

button {
  @include transition();
  margin: 0;
  border: 0;
  background: transparent;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0;
  }
}

a {
  @include transition();
  text-decoration: none;
  color: $secondary-text;
  outline: none;

  &:hover {
    @include transition();
    color: $primary-text;
  }
}

.btn {
  @include font(400, 20px, 120%, $subheader-font);
  @include size(100%, 40px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $background-2;
  background-color: $secondary-text;
  text-transform: uppercase;
  border-radius: $br-default;

  &--link {
    height: 8vh;
    background-color: rgba($color: $primary-text, $alpha: 0.8);

    img {
      @include size(28px);
      margin-right: $gap2;
    }

    &:hover {
      color: $background;
      background-color: rgba($color: $primary-text, $alpha: 1);
    }

    @include phones-xs {
      @include font-size(14px, 100%);

      img {
        @include size(20px);
      }
    }
  }
}

h1 {
  @include font($fw-base, 34px, 120%, $header-font);
  margin: 0;
  color: $secondary-text;

  @include tablets {
    @include font($fw-base, 24px, 30px);
  }
}

h2 {
  @include font($fw-base, 30px, 120%, $header-font);
  margin: 0;
  color: $secondary-text;

  @include tablets {
    @include font($fw-base, 24px, 30px);
  }
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: $header-height-mob;
  padding: 0 $gap3;
  backdrop-filter: brightness(65%);

  @include tablets {
    padding: 0 $gap4;
  }

  &__logo {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 7px 0px rgba(106, 202, 235, 0.5);

    img {
      @include size(100%);
      object-fit: cover;
    }
  }

  &__slogan {
    margin-left: $gap3;

    & > h5 {
      @include font(normal, 24px, 31px, $header-font);
      color: $secondary-text;
      text-shadow: 0px 0px 2px $secondary-text;
      margin: 0;
    }

    & > h6 {
      @include font(normal, 12px, 15px, $header-font);
      color: $white;
      text-shadow: 0px 0px 4px #b31a75;
      margin: 0;
    }
  }

  &__btn {
    @include size(24px, 16px);
    display: grid;
    gap: 6px 0;
    margin-left: auto;

    span {
      @include size(100%, 2px);
      background: $secondary-text;
    }
  }
}

main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 $gap3;

  & > h1 {
    text-align: center;
    margin: $gap2 0;
  }
}

.hero {
  display: grid;
  gap: $gap3;
  padding: $gap3 0;
  max-width: 768px;
  margin: 0 auto;

  @include phones-xs {
    gap: $gap2;
  }
}
